<div id="ip-container" class="ip-container">
    <header class="ip-header">
        <h1 class="ip-logo">
            <img class="ip-inner" width="400px" height="400px" src="/imgs/logo.svg" alt="Website Logo"/>
        </h1>
        <div class="ip-loader">
            <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            </svg>
        </div>
    </header>
    <div class="ip-main">
        <h2 class="quote_welcome">College tuition isn't free,<br/>at least information is.</h2>
        <div class="browser clearfix">
            <div class="box" ui-sref="login" ng-click="triggerLogBtn()">
                <i class="fa fa-user fa-5x" aria-label="Login Button"></i> Login
            </div>
            <div class="box box2" ui-sref="login" ng-click="triggerSignBtn()">
                <i class="fa fa-user-plus fa-5x" aria-label="Sign Up Button"></i> Sign Up
            </div>
        </div>
    </div>
</div>